<section class="programs-container">

  <div class="d-flex">
    <div class="contain-title">
      <div class="children__title">
        <h1 id="tituloh2">Programas Técnicos Laborales</h1>
      </div>
      <div class="children__title2">
        <h1 id="tituloh1">Programas Técnicos Laborales</h1>
      </div>
    </div>
  </div>
  <ul class="programs_card" id="programs_card">
    <!---------------------------- tarjeta administrador ---------------------------------------->
    <div class="card" style="width: 18rem;">
      <img src="assets/img/administrator.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title --bs-primary fw-bolder" id="card-title-admi">Administración <br> contabilidad y <br> Finanzas</h3>
        <p class="card-text">Esta área técnica se enfoca en el manejo financiero y administrativo de empresas y organizaciones, con habilidades en contabilidad, finanzas y gestión de recursos humanos.</p>
        <a href="#" class="btn btn-primary"id="btn-admi">Ver Más</a>
      </div>
    </div>

    <!---------------------------------- tarjeta artes ---------------------------------------->
    <div class="card" style="width: 18rem;">
      <img src="assets/img/administrator.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title fw-bolder" id="card-title-arts">Ciencias <br> Humanas y <br> Bellas Artes</h3>
        <p class="card-text">Esta área técnica se enfoca en la creatividad y la expresión artística, con habilidades en diseño gráfico, animación, música, teatro y otras formas de arte y cultura.</p>
        <a href="#" class="btn btn-primary"id="btn-arts">Ver Más</a>
      </div>
    </div>

    <!---------------------------------- tarjeta engineer ---------------------------------------->
    <div class="card" style="width: 18rem;">
      <img src="assets/img/ingenier.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title fw-bolder" id="card-title-engi"> <br> Ingenieria<br> <br> </h3>
        <p class="card-text">Esta área técnica se enfoca en la aplicación de principios de matemáticas, ciencias y tecnología para resolver problemas prácticos, con habilidades en diseño, construcción y mantenimiento de sistemas y estructuras.</p>
        <a href="#" class="btn btn-primary"id="btn-engi">Ver Más</a>
      </div>
    </div>
  </ul>

</section>
