
#tituloh1, #parrafoh1{
  display: inline;
  font-size: 24px;
  margin: 0;
}
.contain-title {
  position: relative;
  height: 20vh;
  width: 100%;

}
.children__title {
  position: absolute;
  left: 220px;
  top: 20px;

}

#tituloh1 {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50.5px !important;
  line-height: 150%;
  /* identical to box height, or 91px */

  color:rgba(116, 116, 116, 0.21);
  letter-spacing: -0.019em;
  display: block;
  margin-bottom: 3hv;
  margin-top: 30px; /* Ajusta el margen superior para que se separe del título 2 */
  margin-left: 100px; /* Ajusta el margen izquierdo para que esté a la derecha del título 2 */
}


#tituloh2 {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50.5px;
  line-height: 150%;
  /* identical to box height, or 91px */

  color: #1B277B;
  letter-spacing: -0.019em;
  display: block;
  margin-bottom: 3hv;
  margin-left: 3hv;
  margin-bottom: 30px; /* Ajusta el margen inferior para que se separe del título 1 */

}

.cefr-levels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cefr-level {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(52, 152, 219, 0.4);
  transition: transform 0.3s ease-in-out;
}

.cefr-level:hover {
  transform: scale(1.2);
}

hr{
  color:#fff;
}
