<section class="eu-framework">
  <hr>
  <div class="d-flex">
    <div class="contain-title">
      <div class="children__title">
        <h1 id="tituloh2">Marco Europeo de Referencia para las Lenguas</h1>
      </div>
      <div class="children__title2">
        <h1 id="tituloh1">Marco Europeo de Referencia para las Lenguas</h1>
      </div>
    </div>
  </div>
  <div class="container">

    <p>El Marco Europeo de Referencia para las Lenguas (CEFR, por sus siglas en inglés) es una herramienta que describe el nivel de competencia lingüística en diferentes idiomas. En nuestro colegio, ofrecemos cursos que se adaptan a los diferentes niveles del CEFR.</p>
    <hr>
    <ul class="cefr-levels">
      <li class="cefr-level">A1</li>
      <li class="cefr-level">A2</li>
      <li class="cefr-level">B1</li>
      <li class="cefr-level">B2</li>
      <li class="cefr-level">C1</li>
      <li class="cefr-level">C2</li>
    </ul>
  </div>

</section>
<hr>
